section.section-post.comment-wall
    +card-head('Comments')
    .comment-wall-item
        .comment-wall-item-row
            .comment-wall__avatar
                +avatar("#", "02.jpg", "avatar-02")
            .comment-wall__desc
                p.comment-wall__desc-text post by
                .comment-wall__desc-title-row
                    .comment-wall__desc-title
                        h5 Smuckersreg Toppings
                        a(href="#") reply
                    .comment-wall__social
                        a(href="#").comment-wall__social-link.comment-wall__social-share
                            span 456
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                        a(href="#").comment-wall__social-link.comment-wall__social-like
                            span 15
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                .comment-wall__desc-date
                    span 6/10/2014
                .comment-wall__desc-content
                    img(src="./img/recipe-panel/01.jpg", alt="01.jpg")
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic laboriosam non error quis, voluptatibus iure expedita atque nobis odio id excepturi accusantium praesentium quasi eos, ad fuga modi delectus quaerat! Thanks for the recipe lorem ipsum bla bla bla  Thanks for the r
        .comment-wall-item-row
            .comment-wall__avatar
                +avatar("#", "01.jpg", "avatar-01")
            .comment-wall__desc
                p.comment-wall__desc-text post by
                .comment-wall__desc-title-row
                    .comment-wall__desc-title
                        h5 Smuckersreg Toppings
                        a(href="#") reply
                    .comment-wall__social
                        a(href="#").comment-wall__social-link.comment-wall__social-share
                            span 456
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                        a(href="#").comment-wall__social-link.comment-wall__social-like
                            span 15
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                .comment-wall__desc-date
                    span 6/10/2014
                .comment-wall__desc-content
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic laboriosam non error quis, voluptatibus iure expedita atque nobis odio id excepturi accusantium praesentium quasi eos, ad fuga modi delectus quaerat! Thanks for the recipe lorem ipsum bla bla bla  Thanks for the r
    .comment-wall-item 
        .comment-wall-item-row
            .comment-wall__avatar
                +avatar("#", "02.jpg", "avatar-02")
            .comment-wall__desc
                p.comment-wall__desc-text post by
                .comment-wall__desc-title-row
                    .comment-wall__desc-title
                        h5 Smuckersreg Toppings
                        a(href="#") reply
                    .comment-wall__social
                        a(href="#").comment-wall__social-link.comment-wall__social-share
                            span 456
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                        a(href="#").comment-wall__social-link.comment-wall__social-like
                            span 15
                            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                .comment-wall__desc-date
                    span 6/10/2014
                .comment-wall__desc-content
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic laboriosam non error quis, voluptatibus iure expedita atque nobis odio id excepturi accusantium praesentium quasi eos, ad fuga modi delectus quaerat! Thanks for the recipe lorem ipsum bla bla bla  Thanks for the r
