section.feedback
    .feedback-card.feedback-card--error
        h3.feedback-card__title 404
        .feedback-card__error-img
            img(src="./img/error/error.png", alt="error")
        .feedback-card__error-link
            +button("#", "BACK")
    .feedback-card
        h3.feedback-card__title Author
        .feedback-card__info 
            .feedback-card__info-img
                img(src="./img/avatar/01.jpg", alt="avatar")
            .feedback-card__info-text
                h4.feedback-card__info-text-name Karen Gray
                p.feedback-card__info-text-from United States 
                .feedback-card__info-text-social
                    a(href="#").feedback-card__info-text-social-link
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    a(href="#").feedback-card__info-text-social-link
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    a(href="#").feedback-card__info-text-social-link
                        <i class="fa fa-skype" aria-hidden="true"></i>
                    a(href="#").feedback-card__info-text-social-link
                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                article.feedback-card__info-text-message
                    h5.feedback-card__message-title About Lemon
                    p.feedback-card__message-text Over the fifteen-year lifeOver the fifteen-year lifeOver the fifteen-year life Over the fifteen-year life span of Food.com, we’ve learned that – in addition to eating – sharing is what you do best. And thanks to the 20 million of you who come here each month, we now have 500,000 recipes to show for it, more than anywhere else in the digital universe. We also have tons crazy-tempting photos, troves of recipe reviews and more than 2 million Facebook likes. That’s a heck of a lot of Food. Thank you!
                .feedback-card__info-text-sign
                    img(src="./img/signature/signature.png", alt="sign")
