section.section-post.footer 
    .footer-row
        .footer__logo
            a(href="#").logo--mini 
                img(src="./img/logo/logo-white.png", alt="logo-white")
        nav.footer__nav
            ul.footer__nav-row
                li.footer__nav-item 
                    a(href="#").footer__nav-item-link HOME 
                li.footer__nav-item 
                    a(href="#").footer__nav-item-link Recipes 
                li.footer__nav-item 
                    a(href="#").footer__nav-item-link Photo Galleries 
                li.footer__nav-item 
                    a(href="#").footer__nav-item-link Videos 
                li.footer__nav-item 
                    a(href="#").footer__nav-item-link All Categor 
        .footer__copy
            p 2016-2017 LEMON. All right reserved
    .footer-row
        .footer__sicial 
            a(href= '#').footer__copy-sicial-link
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            a(href= '#').footer__copy-sicial-link
                <i class="fa fa-twitter" aria-hidden="true"></i>
            a(href= '#').footer__copy-sicial-link
                <i class="fa fa-skype" aria-hidden="true"></i>
            a(href= '#').footer__copy-sicial-link
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>