section.header-carousel-wrap
    .header-carousel.owl-carousel.owl-theme
        .header-carousel-item
            .header-carousel-item-wrap
                .header-carousel-item__logo
                    +logo('#', 'logo--middle')
                h1.header-carousel-item__title Bananas Foster Ice Cream Cake
                p.header-carousel-item__text If you're looking for decadence, look no further — you've found the Holy Grail of desserts. Honestly, this cake makes us wonder why Bananas Foster hasn't always been served on top of ice cream cake.
                .header-carousel-item__link
                    +button('#', 'GET IT RECIPE')
            .header-carousel-item-img 
                img(src="./img/header-carousel/01.jpg", alt="slide-01")
        .header-carousel-item
            .header-carousel-item-wrap
                .header-carousel-item__logo
                    +logo('#', 'logo--middle')
                h1.header-carousel-item__title Bananas Foster Ice Cream Cake
                p.header-carousel-item__text If you're looking for decadence, look no further — you've found the Holy Grail of desserts. Honestly, this cake makes us wonder why Bananas Foster hasn't always been served on top of ice cream cake.
                .header-carousel-item__link
                    +button('#', 'GET IT RECIPE')
            .header-carousel-item-img 
                img(src="./img/header-carousel/01.jpg", alt="slide-02")
        .header-carousel-item
            .header-carousel-item-wrap
                .header-carousel-item__logo
                    +logo('#', 'logo--middle')
                h1.header-carousel-item__title Bananas Foster Ice Cream Cake
                p.header-carousel-item__text If you're looking for decadence, look no further — you've found the Holy Grail of desserts. Honestly, this cake makes us wonder why Bananas Foster hasn't always been served on top of ice cream cake.
                .header-carousel-item__link
                    +button('#', 'GET IT RECIPE')
            .header-carousel-item-img 
                img(src="./img/header-carousel/01.jpg", alt="slide-03")