section.section-post.pagination 
    ul.pagination-row 
        li.pagination-item 
            span &lt; 
        li.pagination-item
            a(href='#').pagination-item__link 1
        li.pagination-item 
            a(href='#').pagination-item__link 2
        li.pagination-item 
            a(href='#').pagination-item__link 3
        li.pagination-item 
            a(href='#').pagination-item__link 4
        li.pagination-item 
            a(href='#').pagination-item__link 5
        li.pagination-item 
            a(href='#').pagination-item__link 6
        li.pagination-item 
            span &gt;