section.section-post.post-mini
    h5.post-mini__title Chi-Chi or Chichi
    .post-mini__desc 
        .post-mini__desc-avatar
            +avatar("#", "02.jpg", "avatar-02")
        .post-mini__desc-text 
            h6.post-mini__desc-text-title Recipe by
            p.post-mini__desc-text-subtitle Smuckersreg Toppings
            .post-mini__desc-text-links
                a(href= '#').recipe-panel-card__desc-link.recipe-panel-card__desc-link--time
                    img(src="./img/recipe-panel/icons/clock.png", alt="clock")
                    span 15
                a(href= '#').recipe-panel-card__desc-link.recipe-panel-card__desc-link--comment
                    img(src="./img/recipe-panel/icons/comment.png", alt="comment")
                    span 12
                a(href= '#').recipe-panel-card__desc-link.recipe-panel-card__desc-link--view
                    img(src="./img/recipe-panel/icons/view.png", alt="view")
                    span 37
    .post-mini__carousel.owl-carousel.owl-theme
        .post-mini__carousel-item 
            img(src="img/mini-post/carousel/01.jpg", alt="slide-01")
        .post-mini__carousel-item 
            img(src="img/mini-post/carousel/01.jpg", alt="slide-01")
        .post-mini__carousel-item 
            img(src="img/mini-post/carousel/01.jpg", alt="slide-01")
        .post-mini__carousel-item 
            img(src="img/mini-post/carousel/01.jpg", alt="slide-01")