section.section-post.progress-bar
    +card-head-icons('Target', '#', '#', '#', '#')
    .progress-bar__body
        .progress-bar__body-title Presentation line
        .progress-bar__body-row
            .progress-bar__circle
                .progress-bar__circle-small
                    p.progress-bar__circle-text 19%
                    svg
                        circle(class="progress-bar__circle-bg" cx="40" cy="40" r="37")
                        circle(class="progress-bar__circle-inner progress-bar__circle-inner-one" cx="40" cy="40" r="37")
            .progress-bar__text 
                h5.progress-bar__text-title Housewives
                p.progress-bar__text-subtitle Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        .progress-bar__body-row
            .progress-bar__circle
                .progress-bar__circle-small
                    p.progress-bar__circle-text 65%
                    svg
                        circle(class="progress-bar__circle-bg" cx="40" cy="40" r="37")
                        circle(class="progress-bar__circle-inner progress-bar__circle-inner-two" cx="40" cy="40" r="37")
            .progress-bar__text 
                h5.progress-bar__text-title Newlyweds
                p.progress-bar__text-subtitle Has brute elitr deserunt ea, assentior eloquentiam neglegentur.
        .progress-bar__body-row
            .progress-bar__circle
                .progress-bar__circle-small
                    p.progress-bar__circle-text 50%
                    svg
                        circle(class="progress-bar__circle-bg" cx="40" cy="40" r="37")
                        circle(class="progress-bar__circle-inner progress-bar__circle-inner-three" cx="40" cy="40" r="37")
            .progress-bar__text 
                h5.progress-bar__text-title Business lady
                p.progress-bar__text-subtitle Ei nam primis putent signiferumque.