section.recipe-panel
    +recipe-panel-card("#", "01.jpg", "01-news", "Raspberry & Cream Frozen Yogurt Pie", "#", "35 mins", "#", "7", "#", "14")
    +recipe-panel-card("#", "02.jpg", "02-news", "Giant Ice Cream Sandwich", "#", "20 mins", "#", "3", "#", "356")
    +recipe-panel-card("#", "03.jpg", "03-news", "Dark Chocolate Crunch Ice Cream  Sandwich Cake", "#", "55 mins", "#", "24", "#", "514")
