section.recipe-post
    .recipe-post-col-img
        .recipe-post-img
            img(src="./img/recipe-post/01.jpg", alt="recipe-post-01")
        .recipe-post-icon
            img(src="./img/recipe-post/icons/01.png", alt="recipe-post-icon")
    .recipe-post-col-desc
        h3.recipe-post-desc-title Bananas Foster Ice Cream Cake
        .recipe-post-desc
            .recipe-post-desc-meta 
                a(href="#").recipe-post-desc-meta-link
                    img(src="./img/recipe-panel/icons/clock.png", alt="clock")
                    span 15mins
                .recipe-post-desc-meta-raiting 
                    img(src="./img/recipe-post/icons/raiting.png", alt="raiting")
                    span Easy
            .recipe-post-desc-link
                +button('#', "SAVE RECIPE")
        article.recipe-post-desc-text
            p 1 (8 ounce) container frozen whipped topping, thawed 20 chocolate round wafers, divided 1 (7 1/4 ounce) bottle Smucker's® Hot Dark Chocolate Microwaveable Topping, divided
            h4.recipe-post-desc-text-title Directions 
            p ARRANGE 8 to 9 ice cream sandwiches in 9-inch square pan, cutting to form an even layer. Spread with half of whipped topping. Break or crush chocolate wafers and sprinkle over the whipped cream. Microwave 1 cup of chocolate topping into small microwave-safe bowl on HIGH for 30 seconds. Drizzle evenly over wafers. TOP with remaining 8 to 9 ice cream sandwiches to form an even layer. Spread with remaining whipped topping. Freeze 3 hours or overnight. Remove from freezer 10 minutes before serving. Cut into squares. HEAT remaining topping. Drizzle each serving with topping. Sprinkle with decorator sprinkles. Nutritional information (amount per servings): Total Calories: 640. Sodium 440mg. Fat: 32g. Carbohydrates: 82g. Cholesterol: 40mg. Protein: 11g. Fiber: 1g.վ
            p ARRANGE 8 to 9 ice cream sandwiches in 9-inch square pan, cutting to form an even layer. Spread with half of whipped topping. Break or crush chocolate wafers and sprinkle over the whipped cream. Microwave 1 cup of chocolate topping into small microwave-safe bowl on HIGH for 30 seconds. Drizzle evenly over wafers. TOP with remaining 8 to 9 ice cream sandwiches to form an even layer. Spread with remaining whipped topping. Freeze 3 hours or overnight. Remove from freezer 10 minutes before serving. Cut into squares. HEAT remaining topping. Drizzle each serving with topping. Sprinkle with decorator sprinkles. Nutritional information (amount per servings): Total Calories: 640. Sodium 440mg. Fat: 32g. Carbohydrates: 82g. Cholesterol: 40mg. Protein: 11g. Fiber: 1g.վ

