aside.sidebar#sidebar
    .sidebar-wrap 
        .sidebar__table
            ul.sidebar__table-col
                li.sidebar__table-col-item 
                    a(href="#").sidebar__table-col-link
                        span HOME
                li.sidebar__table-col-item 
                    a(href="#").sidebar__table-col-link
                        span Recipes
                li.sidebar__table-col-item 
                    a(href="#").sidebar__table-col-link
                        span Photo Galleries
                li.sidebar__table-col-item 
                    a(href="#").sidebar__table-col-link
                        span Videos
                li.sidebar__table-col-item 
                    button.sidebar__table-col-link(type='button' data-sidebar-btn)
                        span All Categories
                    .sidebar__table-sublinks 
                        ul.sidebar__table-sublinks-wrap
                            li.sidebar__table-sublinks-item
                                a(href="#").sidebar__table-sublinks-link
                                    span RECOMMENDED
                            li.sidebar__table-sublinks-item
                                a(href="#").sidebar__table-sublinks-link
                                    span POPULAR
                            li.sidebar__table-sublinks-item
                                a(href="#").sidebar__table-sublinks-link
                                    span QUICK
                            li.sidebar__table-sublinks-item
                                a(href="#").sidebar__table-sublinks-link
                                    span HEALTHY
                            li.sidebar__table-sublinks-item
                                a(href="#").sidebar__table-sublinks-link
                                    span newest

