section.section-post.tags
    h5.tags__title Tags
    .tags__wrap
        a(href="#").tags__item #yummy
        a(href="#").tags__item #sweet
        a(href="#").tags__item #dinner
        a(href="#").tags__item #lunch
        a(href="#").tags__item #breakfast
        a(href="#").tags__item #fresh
        a(href="#").tags__item #tasty
        a(href="#").tags__item #delish
        a(href="#").tags__item #delicious
        a(href="#").tags__item #eating
        a(href="#").tags__item #food
