section.section-post.timeline
    +card-head-icons('Timeline', '#', '#', '#', '#')
    .timeline__body 
        h5.timeline__body-title Time line
        .timeline__body-wrap 
            .timeline__body-col 
                h6.timeline__body-col-title easy 
                .timeline__body-col-row 
                    .timeline__body-col-graph-easy
                    p.timeline__body-col-text 15mins
            .timeline__body-col 
                h6.timeline__body-col-title Middle 
                .timeline__body-col-row 
                    .timeline__body-col-graph-mid
                    p.timeline__body-col-text 25mins
            .timeline__body-col 
                h6.timeline__body-col-title LONG  
                .timeline__body-col-row 
                    .timeline__body-col-graph-long
                    p.timeline__body-col-text 40mins
        .timeline__body-desc 
            p Eam adhuc iudico percipitur ex,  ut malis audire voluptaria has.