.header-carousel-wrap {
  position: relative;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
  height: 440px;
  width: 100%;
  z-index: 30;

  @media (min-width: 720px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1150px) {
    margin-top: 40px;
  }
}

.header-carousel.owl-carousel.owl-theme .owl-dots {
  position: absolute;
  bottom: 20px;
  right: 15px;
}

.header-carousel.owl-carousel.owl-theme .owl-dot span {
  background: #ffffff;
}

.header-carousel.owl-carousel.owl-theme .owl-dot {
  outline: none;
}

.header-carousel.owl-carousel.owl-theme .owl-dot.active span {
  background: #555555;
}

.header-carousel-item {
  position: relative;
  padding-left: 45px;
  padding-top: 45px;
  padding-bottom: 20px;
  width: 100%;
  min-height: 440px;
  background: linear-gradient(#ffffff, #ffffff);
  z-index: 10;
  overflow: hidden;

  @media (min-width: 1150px) {
    padding-left: 90px;
  }

  .header-carousel-item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .header-carousel-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    filter: blur(13px);
  }
}

@media (min-width: 768px) {
  .header-carousel-item .header-carousel-item-img img {
    filter: blur(0);
  }

  .header-carousel-item-img::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    content: "";
    background: rgb(255, 255, 255);
    z-index: 1;
  }
}

@media (min-width: 1150px) {
  .header-carousel-item-img::before {
    z-index: -1;
    opacity: 0;
  }
}

.header-carousel-item-wrap {
  max-width: 370px;
  z-index: 10;

  @media (min-width: 768px) {
    max-width: 320px;
  }

  @media (min-width: 890px) {
    max-width: 370px;
  }
}

.header-carousel-item__logo {
  margin-bottom: 35px;
}

.header-carousel-item__title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.6px;
  font-family: "PlayfairDisplay-Regular";
  color: #921026;
  line-height: 1.2;
}

.header-carousel-item__text {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  font-family: "Josefin Sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
}
