.recipe-panel {
  position: relative;
  padding: 40px 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  z-index: 50;
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgba(0, 0, 0, 0.15);

  @media (min-width: 550px) {
    padding: 40px;
  }

  @media (min-width: 720px) {
    max-width: 520px;
    margin: 0px auto 40px;
    border-top: none;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
  }

  @media (min-width: 850px) {
    flex-direction: row;
  }

  @media (min-width: 1150px) {
    max-width: none;
    padding: 40px;
    margin: 40px 0px 40px;
  }
}

.recipe-panel-card {
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s linear;
  padding-top: 20px;
  padding-bottom: 20px;

  &:hover {
    transform: translateY(-10px);
  }

  @media (min-width: 1150px) {
    max-width: 310px;
    height: 370px;
  }
}

@media (max-width: 1150px) {
  .recipe-panel-card + .recipe-panel-card {
    border-top: 3px solid rgb(221, 221, 221);
  }
}

.recipe-panel-card__img {
  display: inline-block;
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  overflow: hidden;

  @media (min-width: 550px) {
    height: 400px;
  }

  @media (min-width: 720px) {
    height: 300px;
  }

  @media (min-width: 1150px) {
    height: 200px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.recipe-panel-card__desc {
  display: flex;
  align-items: center;
}

.recipe-panel-card__desc-link {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: rgb(85, 85, 85);
  line-height: 1;
  text-decoration: none;

  img {
    margin-right: 2px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.recipe-panel-card__title {
  margin-bottom: 10px;
  height: 38px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.6px;
  font-family: "Josefin Sans";
  color: rgb(0, 0, 0);
  line-height: 1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.recipe-panel-card__desc-link--time {
  position: relative;
  margin-right: 10px;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    height: 14px;
    width: 1px;
    background: #6f6f6f;
  }
}

.recipe-panel-card__desc-link--comment {
  margin-right: 3px;
}
